<div *ngIf="(trendingVideos$ | async) as videos">
  <div id="youtube" *ngIf="videos.length > 0; else loadingOrError">
      <div class="row">
        <div class="card-container"
              *ngFor="let video of videos">
          <app-video-component [video]="video"></app-video-component>
        </div>
        <mat-progress-bar mode="indeterminate" *ngIf="nextTokenScroll && infiniteScrollchecked; else theEnd"></mat-progress-bar>
        <ng-template class="endOfVideos" #theEnd>
            <div class="end-text" *ngIf="!nextTokenScroll">
                <h1 class="text-center">You have seen all the videos for this category. To see more select another.</h1>
            </div>
        </ng-template>
        <span #bottomEl></span>
      </div>
    </div>
</div>

<ng-template #loadingOrError>
  <div class="error-plate" *ngIf="loadingError$ | async; else loading">
    <mat-icon>warning</mat-icon>
    <span>Error loading. Please try again later.</span>
  </div>

  <ng-template class="gl-loading showLoading" #loading>
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
  </ng-template>
</ng-template>
